<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>CarListServlet</servlet-name>
        <servlet-class>ru.job4j.carsale.controllers.CarListServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddCarServlet</servlet-name>
        <servlet-class>ru.job4j.carsale.controllers.AddCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>ru.job4j.carsale.controllers.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>ru.job4j.carsale.controllers.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>ru.job4j.carsale.controllers.DownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CarListServlet</servlet-name>
        <url-pattern>/base</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
</web-app>