<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>HallServlet</servlet-name>
        <servlet-class>ru.job4j.controllers.HallServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoiceServlet</servlet-name>
        <servlet-class>ru.job4j.controllers.ChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsServlet</servlet-name>
        <servlet-class>ru.job4j.controllers.DetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>ru.job4j.controllers.AccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HallServlet</servlet-name>
        <url-pattern>/taken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoiceServlet</servlet-name>
        <url-pattern>/choice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsServlet</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
</web-app>

